body {
  margin: 0;
}

#container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.score-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

#score,
#high-score {
  margin-left: 1rem;
  margin-bottom: 0.2rem;
}

#game-board {
  border-collapse: collapse;
  font-size: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border: rgba(28, 218, 91, 0.2) solid 2px;
}

#game-board td {
  border: rgb(218, 218, 218) solid 1px;
  padding: 0px;
  overflow: hidden;
  width: 18px;
  height: 18px;
  line-height: 0;
}

.food {
  font-size: 15px;
}

.snake {
  font-size: 15px;
}

.snake-head {
  font-size: 17px;
}

.hidden {
  display: none;
}

.scoreboard {
  display: flex;
  justify-content: space-between;
  background-color: #787878;
  color: white;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.record {
  margin-right: 20px;
}

.score {
  display: flex;
  align-items: center;
}

.score h3 {
  margin: 0;
  font-size: 16px;
}

.score span {
  font-size: 24px;
  font-weight: bold;
}

.score .label {
  font-size: 12px;
  opacity: 0.7;
}

#game-over {
  position: absolute;
  background: white;
  border: rgb(128, 128, 128, 0.3) solid 1px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  font-size: 2rem;
  padding: 0.8rem;
  font-family: sans-serif;
  font-weight: bold;
}

#restart {
  background-color: #e1e1e1;
  border: rgb(128, 128, 128, 0.3) solid 1px;
  color: rgb(64, 64, 64);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.1s;
  margin-left: 25%;
  margin-bottom: 1rem;
}

#restart:hover {
  background-color: #f0f0f0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.mobile {
  .arrow-key-container {
    display: grid;
    grid-column: 3;
    grid-row: 2;
    text-align: center;
    transform: translate3d(0, 0, 0);
  }
}

.grid-container {
  padding-top: 1rem;
  display: grid;
  grid-row: 2;
  grid-column: 3;
}

.grid-item-1 {
  grid-row-start: 1;
  grid-column-start: 2;
}

.grid-item-2 {
  grid-row-start: 2;
  grid-column-start: 1;
}

.grid-item-3 {
  grid-row-start: 2;
  grid-column-start: 2;
}

.grid-item-4 {
  grid-row-start: 2;
  grid-column-start: 3;
}

#up,
#down,
#left,
#right {
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  box-shadow: -1px 1px 0 #999, -2px 2px 0 #999, -3px 3px 0 #999, -4px 4px 0 #999;
  color: #fff;
  display: inline-flex;
  font-size: 30px;
  font-weight: bold;
  height: 65px;
  justify-content: center;
  margin: 5px;
  transform: translate3d(0, 0, 0);
  transition: box-shadow 0.1s linear, transform 0.1s linear;
  width: 65px;
  &:active,
  &.press {
    box-shadow: 0px 0px 0 #999, 0px 0px 0 #999, 0px 0px 0 #999, -1px 1px 0 #999;
    transform: translate3d(-3px, 3px, 0);
  }
  &.left:before {
    content: "\2190";
  }
  &.up:before {
    content: "\2191";
  }
  &.down:before {
    content: "\2193";
  }
  &.right:before {
    content: "\2192";
  }
}

@media only screen and (max-width: 600px) {
  #game-board td {
    width: 16px;
    height: 16px;
  }

  .snake {
    font-size: 10px;
  }

  .snake-head {
    font-size: 12px;
  }

  .food {
    font-size: 10px;
    line-height: 10px;
  }
}
